<ng-content></ng-content>
<div id="pour-select" class="container-fluid">

    <div style="display: flex; margin-top: 40px;">
        <div style="width: 33%">
           <div (click)="selectSize('6')" class="pourSelect">
               <img src="app/assets/imgs/beer8oz.png">
               <div class="pourSelectLabel">6oz</div>
               <div *ngIf="selectedOunces == '6'" class="selectorBar"></div>
           </div>
        </div>
        <div style="width: 33%">
          <div (click)="selectSize('8')" class="pourSelect">
               <img src="app/assets/imgs/beer16oz.png">
               <div class="pourSelectLabel">8oz</div>
               <div *ngIf="selectedOunces == '8'" class="selectorBar"></div>
           </div>
        </div>
        <div style="width: 33%">
            <div (click)="selectSize('12')" class="pourSelect">
               <img src="app/assets/imgs/beer32oz.png">
               <div class="pourSelectLabel">12oz</div>
               <div *ngIf="selectedOunces == '12'" class="selectorBar"></div>
           </div>
        </div>
    </div>
    <div style="display: flex; margin-top: 40px;">
        <div style="width: 33%"></div>
        <div style="width: 33%">
           <div [ngClass]="{'goButtonActive': selectedOunces != 0}" class="goButton" (click)="startPour()">Go!</div>

        </div>
        <div style="width: 33%"></div>
    </div>


</div>
