.statusWrapper {
    display: flex;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
}

.wrapper{
    padding: 10px; 
}

.capacityWrapper{
    padding: 10px; 
    // border: 1px solid black;
    width: 200px;
    text-align: center;
    }

.logWrapper {
    position: relative;
    top: 10px;
    padding-left: 15px; 
    padding-right: 15px; 
    // border: 1px solid black;
    width: 550px;
    text-align: left;
    
    
}

.optionsWrapper {
    width: 85px;
    position: relative;
    top: 40px;
}
.logEntry {
    display: flex;
    line-height: 12px; 
    margin-bottom: 10px;
}

.subtext {
    font-size: 10px; 
    color: grey;
}

.item {

        list-style-type: none;
    
}

.button {
    background-color: grey;
    color: white;
    width: 80px; 
    border-radius: 10px; 
    padding: 10px; 
    text-align: center;
    margin: 10px; 
    margin-left: 20px; 

}

.tile_row {
    display: flex; 
    width: 100%; 
}

.tile {
    width: 50%; 
    padding: 10px;
    background-color: green; 
    color: white; 
    margin: 5px; 
    text-align: center;
}

.tile_metric {
    font-weight: bold;
    font-size: 40px;

}


